.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.block {
  width: 580px;
  padding: 10px;
}

.cropContainer {
  position: relative;
  width: 600px;
  height: 400px;
}

.infoBlock {

}
