.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 20px;
}

.block {
  max-width: 580px;
  min-width: 500px;
  padding: 10px;
}

.cropContainer {
  position: relative;
  width: 600px;
  height: 400px;
}

.infoBlock {}

.select {
  color: var(--admin-text)
}
