.modal {
  z-index: 3;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;

  .overlay {
    background: var(--modal-overlay);
    width: 100%;
    height: 100%;
    opacity: .25;
  }

  &Container {
    position: absolute;
    left: calc(100vw - 50vw);
    transform: translateX(-50%);
    top: 5%;
    background: var(--modal-bg);
    width: 600px;
    min-height: 400px;
    max-height: calc(100vh - 5%);
    padding: 25px;

    .close {
      position: absolute;
      cursor: pointer;
      top: 10px;
      right: 3px;
    }

    .closeIcon {
      position: absolute;
      cursor: pointer;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;

      &:hover {
        opacity: 0.9;
      }

      &:before {
        content: "";
        position: absolute;
        top: -4px;
        right: 7px;
        border-bottom: 2px solid var(--admin-text);
        height: 20px;
        width: 20px;
        transform: rotate(315deg);
      }
      &:after {
        content: "";
        position: absolute;
        top: -4px;
        right: -6px;
        border-bottom: 2px solid var(--admin-text);
        height: 20px;
        width: 20px;
        transform: rotate(45deg);
      }
    }
  }

  &Content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      padding: 20px 0 60px 0;
      font-size: 24px;
    }

    .message {
      margin-bottom: 35px;
    }

    button {
      margin: 40px 10px 0;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      cursor: pointer;
      padding: 10px 25px;
    }
  }
}
