.container {
  display: grid;
  grid-template-rows: 1fr;
  margin: 5px 0 20px 0;
}

.textarea {
  width: 100%;
  color: var(--text-input);
  min-height: 160px;
  padding: 12px 10px;
  background: var(--white);
  border: solid 1px var(--gray-light);
  border-radius: 8px;
  outline: none;
  font-size: 16px;

  &::placeholder {
    color: var(--text-addition);
  }
}

.label {
  color: var(--text-input);
  margin: 10px 0 10px 0;
}
