.container {
  display: grid;
  grid-template-rows: 1fr;
  margin: 5px 0 20px 0;
}

.input {
  width: 100%;
  padding: 12px 10px;
  background: var(--white);
  border: solid 1px var(--gray-light);
  border-radius: 8px;
  outline: none;
  color: var(--text-input);
  &::placeholder {
    color: var(--text-addition);
  }
}

.passwordInputBlock {
  display: flex;
}

.passwordInput {
  width: 100%;
}

.icon {
  cursor: pointer;
  margin-left: -30px;
  display: flex;
  height: 100%;
  justify-content: center;
}

.label {
  margin: 10px 0 10px 0;
}
