.inputContainer {
  position: relative;
}

.input {
  width: 100%;
  padding: 12px 10px;
  background: var(--white);
  border: solid 1px var(--gray-light);
  border-radius: 8px;
  outline: none;
  color: var(--text-input);
  &::placeholder {
    color: var(--text-addition);
  }
}

.passwordInputBlock {
  display: flex;
  position: relative;
}

.passwordInput {
  width: 100%;
}

.icon {
  background-color: var(--text-input);
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 12px
}

.open {
  mask-image: url("data:image/svg+xml,%3Csvg stroke='currentColor' fill='none' stroke-width='2' viewBox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' class='input_icon__qVQrO' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z'%3E%3C/path%3E%3Ccircle cx='12' cy='12' r='3'%3E%3C/circle%3E%3C/svg%3E");
}

.close {
  mask-image: url("data:image/svg+xml,%3Csvg stroke='currentColor' fill='none' stroke-width='2' viewBox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' class='input_icon__qVQrO' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24'%3E%3C/path%3E%3Cline x1='1' y1='1' x2='23' y2='23'%3E%3C/line%3E%3C/svg%3E");
}

.clearIcon {
  color: var(--admin-text);
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  height: 15px;
  width: 15px;

  &:before {
    content: "";
    position: absolute;
    top: -4px;
    right: 7px;
    border-bottom: 2px solid var(--admin-text);
    width: 12px;
    height: 12px;
    transform: rotate(315deg);
  }
  &:after {
    content: "";
    position: absolute;
    top: -4px;
    right: -1px;
    border-bottom: 2px solid var(--admin-text);
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
  }

  &:hover {
    opacity: 0.8;
  }
}

.label {
  margin: 10px 0 10px 0;
}
