.inputContainer {
  position: relative;
}

.input {
  width: 100%;
  padding: 12px 10px;
  background: var(--white);
  border: solid 1px var(--gray-light);
  border-radius: 8px;
  outline: none;
  color: var(--text-input);
  &::placeholder {
    color: var(--text-addition);
  }
}

.passwordInputBlock {
  display: flex;
  position: relative;
}

.passwordInput {
  width: 100%;
}

.icon {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 12px
}

.clearIcon {
  color: var(--admin-text);
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  height: 15px;
  width: 15px;

  &:hover {
    opacity: 0.8;
  }
}

.label {
  margin: 10px 0 10px 0;
}
