.listContainer {
  margin-bottom: 60px;
}

.img {
  border-radius: 50%;
  overflow: hidden;
  height: 80px;
  width: 80px;
  position: relative;
}

.bold {
  font-weight: 500;
}

.filters {
  width: 840px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.searchContainer {
  width: 400px;
}
