.img {
  max-width: 100px;
  max-height: 80px;
}

.bold {
  font-weight: 500;
}

.filters {
  width: 840px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.searchContainer {
  width: 400px;
}
