.header {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 25px 30px;
  background: var(--white);
  color: var(--black);
  gap: 10px 40px;
  box-shadow: 0 1px 10px rgb(0 0 0 / 20%);
}

.menuItem {
  padding: 0 15px;

  &:hover {
    color: var(--gray-dark);
  }
}

@media (max-width: 765px) {
  .header {
    grid-template-columns: 1fr;
  }
}
