.select {
  display: block;
  appearance: none;
  width: 100%;
  height: 40px;
  padding: 5px 38px 5px 10px;
  color: var(--admin-text);
  border: 1px solid var(--stroke-secondary);
  border-radius: 3px;
  outline: none;
  text-overflow: ellipsis;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='292.4' height='292.4'%3E%3Cpath fill='%236b6b6b' d='M287 69.4a17.6 17.6 0 0 0-13-5.4H18.4c-5 0-9.3 1.8-12.9 5.4A17.6 17.6 0 0 0 0 82.2c0 5 1.8 9.3 5.4 12.9l128 127.9c3.6 3.6 7.8 5.4 12.8 5.4s9.2-1.8 12.8-5.4L287 95c3.5-3.5 5.4-7.8 5.4-12.8 0-5-1.9-9.2-5.5-12.8z'/%3E%3C/svg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

.formContainer {
   color: var(--admin-text);
 }

.selectContainer {
  position: relative;
}

.label {
  display: block;
  margin-bottom: 4px;
  color: var(--admin-text);
}
.icon {
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  right: 25px;
  height: 14px;
  width: 14px;

  &:before {
    content: "";
    position: absolute;
    top: -4px;
    right: 7px;
    border-bottom: 2px solid var(--admin-text);
    width: 12px;
    height: 12px;
    transform: rotate(315deg);
  }
  &:after {
    content: "";
    position: absolute;
    top: -4px;
    right: -1px;
    border-bottom: 2px solid var(--admin-text);
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
  }
}
